/* SVG shapes */

svg, svg * {
  pointer-events: all !important;
}

/* Hover over */

.entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Bootstrap succsss */

.success-text {
  fill: #3c763d !important;
}

.success-background, .success-text-background {
  fill: #dff0d8 !important;
  fill-opacity: 1 !important;
  stroke: #d6e9c6 !important;
  stroke-width: 1px !important;
}

/* Bootstrap info */

.info-text {
  fill: #31708f !important;
}

.info-background, .info-text-background {
  fill: #d9edf7 !important;
  fill-opacity: 1 !important;
  stroke: #bce8f1 !important;
  stroke-width: 1px !important;
}

/* Bootstrap warning */

.warning-text {
  fill: #8a6d3b !important;
}

.warning-background, .warning-text-background  {
  fill: #fcf8e3 !important;
  fill-opacity: 1 !important;
  stroke: #faebcc !important;
  stroke-width: 1px !important;
}

/* Bootstrap danger */

.danger-text {
  fill: #a94442 !important;
}

.danger-background, .danger-text-background {
  fill: #f2dede !important;
  fill-opacity: 1 !important;
  stroke: #ebccd1 !important;
  stroke-width: 1px !important;
}

/* Ceiling Light */
.light-off {
  fill: #fff !important;
}

.light-on {
  fill: #00ff00 !important;
}


/* Strip Light */
.strip-light-off {
  stroke: #b3b3b3 !important;
  stroke-width: 10px !important;
}

.strip-light-on {
  stroke: #00ff00 !important;
  stroke-width: 30px !important;
}

/* Camera */

.camera-idle {
  fill: #4bbf4d !important;
  stroke: #4bbf4d !important;
}

/* Switches */
.switch-off {
  stroke: #b3b3b3 !important;
  stroke-width: 10px !important;
}

.switch-on {
  stroke: #00ff00 !important;
  stroke-width: 30px !important;
}

/* Motion */
.motion-none {
  stroke: #00ff00 !important;
  fill: #fff !important;
}

.motion-tamper {
  stroke: #ff0000 !important;
  fill: #ff0000 !important;
  stroke-width: 3px !important;
}

.motion-motion {
  stroke: #ff0000 !important;
  fill: #fff !important;
  stroke-width: 3px !important;
}


/* PC */
.pc-off {
  stroke: #00ff00 !important;
  fill: #00ff00 !important;
}

.pc-on {
  stroke: #ff0000 !important;
  fill: #ff0000 !important;
  stroke-width: 3px !important;
}